<html>
<head>
<link rel="stylesheet" href="app.css" />
<title>PDF Toolbox</title>
</head>

<body>

<div id="app">

	<div id="features">

		<h2>PDF Toolbox v1.1</h2>

		<div class="featureBox" @drop.prevent="dropDoc" @dragenter.prevent @dragover.prevent>
		<p>
		Drag an Office doc (DOC, DOCX, PPT, PPTX, XLS, XLSX), TXT, RTF, or Image (BMP, JPEG, GIF, TIFF, PNG) to convert to PDF.
		</p>
		<p v-html="convertToPDFStatus"></p>
		</div>

		<div class="featureBox" @drop.prevent="dropPDF" @dragenter.prevent @dragover.prevent>
		<p>
		Drag a PDF here, select a format from a drop down, hit the button to send it and then it will stream 
		to a download. (Note that JPEG/PNG output as a zip file.)
		</p>
		<p>
		<select v-model="exportFormat">
			<option>DOC</option>
			<option>DOCX</option>
			<option>JPEG</option>
			<option>PNG</option>
			<option>PPTX</option>
			<option>RTF</option>
			<option>XLSX</option>
		</select>
		<button @click="exportPDF" :disabled="!exportReady">Export</button>
		</p>
		<p v-html="exportPDFStatus"></p>
		</div>

		<div class="featureBox" @drop.prevent="dropPDFForEmbed" @dragenter.prevent @dragover.prevent>
		<p>
		Drag a PDF here to simply view it in our awesome PDF Embed API.
		</p>
		<p>
		<select v-model="embedMode">
			<option value="FULL_WINDOW">FULL_WINDOW (really full container)</option>
			<option value="SIZED_CONTAINER">SIZED_CONTAINER</option>
			<option value="IN_LINE">IN_LINE</option>
			<option value="LIGHT_BOX">LIGHT_BOX</option>
		</select>
		</p>
		<p v-html="embedPDFStatus"></p>
		</div>

		<p>
		<a href="https://www.raymondcamden.com" target="_new">Created by Ramond Camden</a> / 
		<a href="https://github.com/cfjedimaster/pdftoolbox" target="_new">Source</a>
		</p>

	</div>

	<div id="pdfEmbed">
	</div>

</div>

<script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="app.js"></script>
</body>
</html>